<div class="mainContainer ">

    <div class="formInput">
        <h1> Welcome </h1>
        <form method="POST" action="/users/forgetPasswordLink" >
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password" required><br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required><br>
            
            <div class= 'buttons'>
                <div class = 'submitButtons'><button type="submit">Reset</button></div>
            </div>

            <div class="extraStuff">
                <small> Don't have account ?</small>
                <a hre<!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <meta charset="UTF-8">
                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>Forgot Password</title>
                        <style>
                            /* Global Styles */
                            body {
                                margin: 0;
                                font-family: Arial, sans-serif;
                                background-color: #f0f0f0;
                            }
                    
                            /* Main Container */
                            .mainContainer {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 100%;
                                margin-top: 40px;
                            }
                    
                            /* Form Input */
                            .mainContainer .formInput {
                                display: flex;
                                flex-direction: column;
                                border: 2px solid #333;
                                align-items: center;
                                width: 40%;
                                height: 60%;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
                                background-color: #fff;
                            }
                    
                            .mainContainer .formInput h1 {
                                font-size: 1.8rem;
                                margin-top: 2.4rem;
                                color: #333;
                                text-align: center;
                            }
                    
                            .mainContainer .formInput form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                    
                            .mainContainer .formInput form input {
                                width: 18rem;
                                margin: 0.6rem;
                                font-size: 1rem;
                                padding: 0.6rem 1rem;
                                border-radius: 1rem;
                                border: 1px solid #ccc;
                            }
                    
                            .mainContainer .formInput .buttons {
                                margin-top: 1rem;
                            }
                    
                            .mainContainer .formInput .buttons .submitButtons button {
                                font-size: 1rem;
                                padding: 0.6rem 1.2rem;
                                border: none;
                                border-radius: 0.8rem;
                                background-color: #333;
                                color: #fff;
                                cursor: pointer;
                                transition: background-color 0.3s;
                                margin-bottom: 1rem;
                            }
                    
                            .mainContainer .formInput .buttons .submitButtons button:hover {
                                background-color: #444;
                            }
                    
                            .mainContainer .formInput .extraStuff {
                                margin-top: 1rem;
                            }
                    
                            .mainContainer .formInput .extraStuff small {
                                font-size: 0.9rem;
                            }
                    
                            .mainContainer .formInput .extraStuff a {
                                text-decoration: none;
                                color: #333;
                                font-size: 0.9rem;
                            }
                    
                            .mainContainer .formInput .extraStuff a:hover {
                                text-decoration: underline;
                            }
                        </style>
                   